.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#hcmpopup-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明的遮罩层背景颜色 */
  z-index: 9999; /* 设置遮罩层的层级，确保位于弹出窗口之上 */
  opacity: 0; /* 初始透明度为0 */
  transition: opacity 0.3s ease; /* 添加过渡效果 */
}

#hcmpopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* 初始缩小为80% */
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10000; /* 设置弹出窗口的层级，确保位于遮罩层之上 */
  opacity: 0; /* 初始透明度为0 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 添加过渡效果 */
}

#hcmpopup-container.show {
  opacity: 1; /* 显示遮罩层时的透明度为1 */
}

#hcmpopup.show {
  opacity: 1; /* 显示弹出窗口时的透明度为1 */
  transform: translate(-50%, -50%) scale(1); /* 缩放弹出窗口到正常大小 */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #5d5b5b;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #0d0909;
  text-decoration: none;
  cursor: pointer;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 300px;
}

.xxlogo___3gfKF {
  text-align: center;
  padding: 10px 0 10px;
}
.xxlogo___3gfKF img {
  height: 44px;
  vertical-align: bottom;
}
.myButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 150%);
  box-shadow: 1px 1px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #810e05;
}
.myButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.myButton1 {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #ed2630 5%, #ff0000 100%);
  background-color: #ed2630;
  border-radius: 18px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 57px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.myButton1:hover {
  background: linear-gradient(to bottom, #ff0000 5%, #ed2630 100%);
  background-color: #ff0000;
}
.myButton1:active {
  position: relative;
  top: 1px;
}
.nomobil {
  font-size: 15px;
  color: #ff0000;
}
.overlay {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 300px;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.9); /* 白色半透明背景 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refresh-button {
  display: flex;
  position: absolute;
  top: 105px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.expiration-text {
  display: flex;
  color: #333;
  background-color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 270px;
  width: 300px;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.xxnav-bar {
  position: fixed;
  top: 0;
  left: -13px;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 9999; /* 可选：用于控制标题在其他元素之上的层级 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content {
  padding-top: 60px; /* 可选：为了避免标题遮挡页面内容，增加上边距 */
}
.xxheader {
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.xxnav-bar-back {
  top: 15px;
  position: absolute;
  left: 18px;
  width: 60px;
  font-size: 20px;
  text-align: center;
}
.shadowed-div {
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding: 8px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}
